{% extends('base.html.twig') %}
{% block body %}
    <h1>holaaaaaa</h1>
    <a href="{{ path('custom', {name: 'eoeoeoeo' })}}">Custom page fent servir el path</a>
    <a href="/custom/eoeooe/">Custom page fent servir el href normal</a>

{% endblock body %}