{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Llista de posts</h1>
    <table class="table table-striped">
        <thead>
            <td>ID</td>
            <td>Títol</td>
            <td>Eliminar</td>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td><a href="{{ path('post.show', {id: post.id }) }}">{{ post.title }}</a></td>
                    <td><a href="{{ path('post.delete', {id:post.id}) }}" class="text-danger">Eliminar</a></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
